{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="small-page-header page-hero" style="background-image:url({{ page.media[page.header.background].url() }})">
        <div class="row page-header__content narrow text-center">
            <h3 class="page-header__title">
                {{ page.header.subtitle }}
            </h3>
            <h1 class="page-header__title">
                {{ page.title }}
            </h1>
        </div>
    </section>

    <section id="modular-engines" class="s-default">
        <div class="row masonry-wrap">
            <div class="col-full">
                {% for module in page.collection() %}
                    {{ module.content|raw }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}